{% comment %} {% load cart_tag %} {% endcomment %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="{% url 'u_dashboard:uhome' %}"> <b>EMS</b> </a>


    <button type="button" class="navbar-toggler" data-toggle="collapse"
    data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
       
       {% if request.user.is_authenticated and request.user.is_superuser %}
      <li class="nav-item">
        <a href="/admin/" class="nav-link"><i class="fas fa-users-cog"></i>Djadmin</a>
      </li> {%  endif %}
      {% if request.user.is_authenticated %}

      <li class="nav-item dropdown mr-3">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{request.user.profile.user.username}} <img class="avatarimg" src="{{request.user.profile.user.avatar.url}}" alt="PIMG"> </a>&nbsp;
      <div class="dropdown-menu" aria-labelledby="nabbarDropdown">
        <a class="dropdown-item" href="{% url 'accounts:profile' %}">Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
      </div>
      </li>
      {% else %}
      <li class="nav-item">
        <a href="{% url 'accounts:login' %}" class="btn btn-primary">Login</a>
      </li>
      {% endif %}
    </ul>
   </div>
  </div>
</nav>